html {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  width: 100%;
  height: 100%;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: transparent;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.toolbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  background: #424242;
  background: rgba(66, 66, 66, 0.75);
  z-index: 1;
}
.about {
  display: none;
  position: absolute;
  top: 100px;
  left: 50px;
  right: 50px;
  height: 200px;
  padding: 10px;
  background-color: #909090;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  z-index: 1;
}
.webgl_container {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.stats {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.iconButton,
.iconButton:hover,
.iconButton:active {
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: 32px;
  border-radius: 3px;
  width: 36px;
  height: 36px;
  margin: 6px;
  float: left;
}
.iconButton:hover {
  background-color: #909090;
  background-color: rgba(255, 255, 255, 0.25);
}
.iconButton:active {
  background-color: #b0b0b0;
  background-color: rgba(255, 255, 255, 0.5);
}
.iconFullscreen {
  background-image: url(../img/icons/resize5.png);
}
.iconInformation {
  background-image: url(../img/icons/information3.png);
}
.iconMakeScreenshot {
  background-image: url(../img/icons/dslr.png);
}
.iconClose {
  background-image: url(../img/icons/close3.png);
}
.screenshotContainer {
  display: none;
  position: absolute;
  right: 8px;
  top: 56px;
  width: 25%;
  height: 25%;
  z-index: 1;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  background-color: black;
}
.screenshotClose,
.screenshotClose:hover,
.screenshotClose:active {
  float: right;
}
.screenshotResult {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: contain;
}
.screenshotDownload {
  position: absolute;
  left: 8px;
  bottom: 8px;
}